* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form {
    height:500px;
    width: 300px;
}








.username {
    display: inline-block;
    position: relative;
    margin: 5px;
    


}
.email {
    display: inline-block;
    position: relative;
    margin: 5px;

}
.password {
    display: inline-block;
    position: relative;
    margin: 5px;
}
